div h1,h2,p{
  display: flex;
  justify-content: center;
}
h1
{
    display: flex;
    justify-content: center;
    border-style: double;
    border-width: 5px;
    border-radius: 5%;
    color: #792373;
}
h2
{
    font-size: 30px;
    font-family: Arial;
    font-style: italic;
    color: rgb(120, 14, 37);
}
p {
    font-size: 20px;
    background-color: rgb(192, 119, 18);
    border: 90px  solid rgb(186, 50, 50);
    border-width: thick;
    border-radius: 80px;
    border-top-left-radius: 10px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
